body{
    background-image: url("source/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-responsive {
    max-width: 100%;
    height: auto; /* Cela assure que l'image conserve ses proportions */
}
.btn-responsive {
    max-width: 100%;
    height: auto;
}

.text-center{
    text-align: center;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
}

.circle img {
    width: 100%;
    height: auto;
}

.col-lg-4 {
    flex: 0 0 auto;
    width: 25%;
  }


.row {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }

  .team-member {
    margin-bottom: 3rem;
    text-align: center;
  }
  .team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
  }
  .team-member h4, .team-member .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .rounded-circle {
    border-radius: 50% !important;
  }

  table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(253, 246, 207);
  }
  
  th,
  td {
    border: 1px solid rgb(58, 34, 7);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(215, 166, 51);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
 
  